@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

* {
    font-family: 'Poppins', sans-serif;

    color: azure;
}

body {
    background: linear-gradient( #040516, rgb(7, 44, 82), #040516, #16406a, #040516);
    margin: 0;
    padding: 0;
    text-align: center;
}


/* HAUT DE PAGE */
#navbar {
    background-color: #040516;
    position: sticky;
    justify-content: start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}


.banner img {
    height: 350px;
    justify-content: end;
}


#link-navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.link #logo {
    width: 50px;
}
.link #login-account{
    width: 30px;
}

#btn-search {
    margin-top: 3px;
    margin-left: 5px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.banner img.img-cover {
    max-width: 100%;
    height: auto;
}


#banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    position: relative;
}

.img-cover {
    max-width: 100%;
    height: auto;
    filter: blur(3px);
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.slide-details {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
    width:80%;
}

.slide-details h4 {
    margin: 0;
    font-size: 2em;
}

.slide-details p {
    margin: 10px 0;
}

.details-img {
    width: 300px;
}

#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .movie img {
    max-width: 100%;
    height: auto;
  }


/*Films*/
.movie {
    position: relative;
    width: 300px; 
    margin: 10px;
    text-align: center;
    overflow: hidden;
  }

footer {
    background-color: #040516;
}