@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans", sans-serif;
    color: azure;
}

body {
    background: linear-gradient( #040516,#010118e6, #040516, #0a0a35e6,#000004);
    margin: 0;
    padding: 0;
    text-align: center;
}


/* HAUT DE PAGE */
#navbar {
    position: absolute;
    justify-content: start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#navbar.scrolled {
    background-color: #01010de6; 
    transition: background-color 0.3s ease; 
    position: fixed;
    width: 100%;
}


#link-navbar ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.link #logo {
    width: 80px;
    border-radius: 50px;
    cursor: pointer;
}

.link #account {
    width: 30px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}


.banner .img-cover {
    max-width: 100%;
    height: auto;
}

#banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#slider {
    position: relative;
}

#banner:hover .arrow {
    opacity: 1;
}


.slide {
    position: relative;
}

.img-cover {
    max-width: 100%;
    height: auto;
    filter: brightness(0.5) blur(5px);
    transition: transform 0.5s ease;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    color: #f1f1f1;
    cursor: pointer;
    user-select: none;
    opacity: 0;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}


.slide-details {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 1;
    width:80%;
}

.slide-details h4 {
    padding-top: 70px;
    margin: 0;
    font-size: 2em;
}

.slide-details p {
    padding-left: 50px;
    padding-right: 50px;
    margin: 10px 0;
}

.details-img {
    width: 350px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.details-img:hover {
    transform: scale(1.1); 
}


/*Films*/
#title {
    margin-top: 80px;
}
#movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.movie img {
    padding: 10px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    cursor: pointer;
  }

.movie img:hover {
    filter: brightness(1.2); 
}
.movie h2{
    margin: 10px;
}
.movie {
    position: relative;
    width: 320px; 
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    background-color: #eaf6f60e
  }

#load-more {
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 8px;
    margin: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

/*BAS DE PAGE*/
footer {
    display: flex;
    flex-direction: column;
    background-color: #000004;
}

#information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#link-footer ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    cursor: pointer;
}

footer .link {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#logo-footer img{
    padding-top: 30px;
    display: flex;
    width: 60px;
    cursor: pointer;
}

footer #mentions{
    font-size: 15px;
    color: #f0ffffc1;
    padding-bottom: 20px;
}
