@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background:#050524;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;;
}


/* HAUT DE PAGE */
#navbar {
    background-color: #000004db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#link-navbar ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    padding-right: 100px;
    margin: 0;
}

#navbar #link-logo li {
    list-style: none;
}

#link-logo #logo {
    padding-top: 05px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 100px;
}

.link {
    padding-left: 50px;
    padding-right: 50px;
}

#link-navbar a {
    color: #f0ffff;
    text-decoration: none;
}

#link-navbar a:hover {
    text-decoration: underline;
}

/* FORMULAIRE CONTACT */
main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contact {
    text-align: center;
    padding: 10px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
}

#contact form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

#contact form input, #contact form textarea#message {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
}

/* Bouton envoyer*/
#contact button#button-contact {
    border: 2px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    padding: 8px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 14px;
    background: none; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#contact button#button-contact:hover {
    background-color:#f0ffff;
    color: #000000;
    cursor: pointer;
}

#contact form label, #contact form #input-contact[type="checkbox"] {
    display: inline;
}

label input#validation[type="checkbox"] {
    width: auto;
}

#message{
    text-align: center;
    font-size: 12px;
}

/* MAP */
#map iframe {
    border-radius: 10px;
    overflow: hidden;
}

#iframe-map {
    width: 600px;
    height: 450px;
}

h2, p {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#media {
    text-align: center;
}


/*BAS DE PAGE*/
footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000004db;
}

#information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#link-footer ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    cursor: pointer;
}

#link-footer a{
    text-decoration: none;
    color: #ffffff;
}
#link-footer a:hover{
    text-decoration:underline;
}

footer .link {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#logo-footer img{
    padding-top: 30px;
    display: flex;
    width: 60px;
    cursor: pointer;
}

footer #mentions{
    font-size: 15px;
    color: #eae9e9c1;
    padding-bottom: 20px;
}


@media only screen and (max-width: 850px) {

#navbar {
    font-size: 12px;
    padding: 0px;
}

#link-logo #logo {
    padding-left: 0px;
    width: 100px;
}

#link-navbar ul {
    padding: 0;
}
}