@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)), url('../img/background.jpg') center/cover no-repeat;
}


/* HAUT DE PAGE */
#navbar {
    background-color: #000004db;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
}

#link-navbar ul {
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px;
    padding-right: 100px;
    margin: 0;
}

#navbar #link-logo li {
    list-style: none;
}

#link-logo #logo {
    padding-top: 05px;
    width: 200px;
    border-radius: 50px;
    cursor: pointer;
    padding-left: 100px;
}

.link {
    padding-left: 50px;
    padding-right: 50px;
}

#link-navbar a {
    color: #f0ffff;
    text-decoration: none;
}

#link-navbar a:hover {
    text-decoration: underline;
}

/*Film détails*/
main{
    padding-top: 50px;
    min-height: 600px;
}

#movie-details-container {
    display: flex;
    padding: 20px;
    margin: 20px auto; 
    max-width: 1100px; 
}

#movie-poster img{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#movie-info {
    margin-left: 40px;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-title {
    font-size: 35px;
    margin-top: 10px;
}

.movie-genre {
    display: flex;
}

.movie-genre span {
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 6px;
    margin-right: 10px; 
}

.movie-summary {
    margin-top: 10px;
    text-align: justify;
}

.movie-actors {
    margin-top: 10px;
}

/* Etoiles */

.rating {
    display: flex;
    margin-top: 10px;
}

.rating__star {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.rating__star.fas {
    color: #dbb718; 
}


/*BAS DE PAGE*/
footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000004db;
}

#information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#link-footer ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    cursor: pointer;
}

#link-footer a{
    text-decoration: none;
    color: #ffffff;
}

#link-footer a:hover{
    text-decoration:underline;
}

footer .link {
    list-style: none;
    padding: 10px;
    margin: 0;
}

#logo-footer img{
    padding-top: 30px;
    display: flex;
    width: 60px;
    cursor: pointer;
}

footer #mentions{
    font-size: 15px;
    color: #eae9e9c1;
    padding-bottom: 20px;
}


@media only screen and (max-width: 850px) {

#navbar {
    font-size: 12px;
    padding: 0px;
}

#link-logo #logo {
    padding-left: 0px;
    width: 100px;
}

#link-navbar ul {
    padding: 0;
}
}
  